#@data/values-schema

---

#@schema/desc "Configuration for the platform packages."
platform:
  #@schema/desc "The platform profile to install. Options: `standalone`, `run`."
  #@schema/validation one_of=["standalone", "run"]
  profile: run
  #@schema/desc "The namespace where to install the platform."
  namespace: kadras-system
  #@schema/desc "A list of packages to include in the installation."
  additional_packages:
    - ""
  #@schema/desc "A list of packages to exclude from being installed."
  excluded_packages:
    - ""

  #@schema/desc "PEM-encoded certificate data to trust TLS connections with a custom CA."
  ca_cert_data: ""

  #@schema/desc "Setting for the Ingress controller that the platform will use."
  ingress:
    #@schema/desc "The base domain name the platform will use to configure the Ingress controller. It must be a valid DNS name."
    domain: ""
    #@schema/desc "A reference to the ClusterIssuer the platform will use to enable TLS communications."
    issuer:
      #@schema/desc "The type of ClusterIssuer the platform will use to enable TLS communications. Options: `private`, `letsencrypt_staging`, `letsencrypt`, `custom`."
      #@schema/validation one_of=["private", "letsencrypt_staging", "letsencrypt", "custom"]
      type: private
      #@schema/desc "A reference to a custom ClusterIssuer previously created on the cluster where the platform will be installed. Required when the type is `custom`."
      #@schema/validation when=lambda _, ctx: ctx.parent["type"] == "custom"
      name: ""
      #@schema/desc "The email address that Let's Encrypt will use to send info on expiring certificates or other issues. Required when the type is `letsencrypt_staging` or `letsencrypt`."
      #@schema/validation when=lambda _, ctx: ctx.parent["type"] == "letsencrypt_staging" or ctx.parent["type"] == "letsencrypt"
      email: ""

  #@schema/desc "Settings for accessing the OCI registry that the platform will use."
  oci:
    #@schema/desc "Configuration for the Secret holding the credentials to pull images from the OCI registry."
    pull_secret:
      #@schema/desc "The name of the Secret holding the credentials to pull images from the OCI registry."
      name: ""
      #@schema/desc "The namespace of the Secret holding the credentials to pull images from the OCI registry."
      namespace: kadras-system

  #@schema/desc "Settings for Cosign, used for signing and verifying OCI artifacts."
  cosign:
    #@schema/desc "Configuration for the Secret holding the Cosign key pair."
    secret:
      #@schema/desc "The name of the Secret holding the Cosign key pair."
      name: ""
      #@schema/desc "The namespace of the Secret holding the Cosign key pair."
      namespace: kadras-system
  
  #@schema/desc "Settings for the Git server that the platform will use."
  git:
    #@schema/desc "The server hosting the Git repositories used by the plaform."
    #@schema/examples ("GitHub", "https://github.com")
    server: https://github.com
    #@schema/desc "Configuration for the Secret holding the credentials to access the Git server."
    secret:
      #@schema/desc "The name of the Secret holding the credentials to access the Git server. The credentials should provide read-only access to the Git server except when installing the platform with one of these profiles: `standalone`, `build`."
      name: ""
      #@schema/desc "The namespace of the Secret holding the credentials to access the Git server."
      namespace: kadras-system

#@schema/desc "Configuration for the Cert Manager package."
#@schema/type any=True
cert_manager: {}

#@schema/desc "Configuration for the Cert Manager Webhook Hetzner package."
#@schema/type any=True
cert_manager_webhook_hetzner: {}

#@schema/desc "Configuration for the Contour package."
#@schema/type any=True
contour: {}

#@schema/desc "Configuration for the Crossplane package."
#@schema/type any=True
crossplane: {}

#@schema/desc "Configuration for the Dependency Track package."
#@schema/type any=True
dependency_track: {}

#@schema/desc "Configuration for the Developer Portal package."
#@schema/type any=True
developer_portal: {}

#@schema/desc "Configuration for the Flux package."
#@schema/type any=True
flux: {}

#@schema/desc "Configuration for the GitOps Configurer package."
#@schema/type any=True
gitops_configurer: {}

#@schema/desc "Configuration for Knative related packages."
knative:
  #@schema/desc "Configuration for the Knative Serving package."
  #@schema/type any=True
  serving: {}

#@schema/desc "Configuration for the Kyverno related packages."
kyverno:
  #@schema/desc "Configuration for the Kyverno package."
  #@schema/type any=True
  core: {}

#@schema/desc "Configuration for the Metrics Server package."
#@schema/type any=True
metrics_server: {}

#@schema/desc "Configuration for the PostgreSQL Operator package."
#@schema/type any=True
postgresql_operator: {}

#@schema/desc "Configuration for the RabbitMQ Operator package."
#@schema/type any=True
rabbitmq_operator: {}

#@schema/desc "Configuration for the Secretgen Controller package."
#@schema/type any=True
secretgen_controller: {}

#@schema/desc "Configuration for the Tempo Operator package."
#@schema/type any=True
tempo_operator: {}

#@schema/desc "Configuration for the Workspace Provisioner package."
#@schema/type any=True
workspace_provisioner: {}
