#@ load("@ytt:data", "data")
#@ load("@ytt:struct", "struct")
#@ load("@ytt:yaml", "yaml")
#@ load("/helpers.star", "is_any_profile_enabled", "is_package_enabled", "profiles")

#@ if is_package_enabled("secretgen-controller"):

#@ def compute_package_values():
#@   return data.values.secretgen_controller
#@ end

---
apiVersion: packaging.carvel.dev/v1alpha1
kind: PackageInstall
metadata:
  name: secretgen-controller
  namespace: #@ data.values.platform.namespace
  annotations:
    kapp.k14s.io/change-group: secretgen-controller
    kapp.k14s.io/change-rule.service-account: delete before deleting serviceaccount
spec:
  serviceAccountName: kadras-install-sa
  packageRef:
    refName: secretgen-controller.packages.kadras.io
    versionSelection:
      constraints: 0.17.0
      prereleases: {}
  values:
  - secretRef:
      name: secretgen-controller-values
---
apiVersion: v1
kind: Secret
metadata:
  name: secretgen-controller-values
  namespace: #@ data.values.platform.namespace
stringData:
  values.yaml: #@ yaml.encode(compute_package_values())

#@ end
